@page
@model LuvWordy.Server.Web.Pages.QuizModel
@{
}


<div id="app"></div>

@section Scripts
{
    <environment names="Development">
        <script type="module" src="http://localhost:3002/main.ts" ></script>
    </environment>
}